@{
    ViewData["Title"] = "Hardcore Leaderboard";
}
@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}

<form action="/blizzard/GetCharacterStatistics" method="get">
  <div class="form-group">
    <label for="realm">Realm</label>
    <input type="text" class="form-control" id="realm" name="realm" aria-describedby="realm" placeholder="Enter Realm">
  </div>
  <div class="form-group">
    <label for="characterName">Character Name</label>
    <input type="text" class="form-control" id="characterName" name="characterName" placeholder="Enter Character Name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>