@{
    ViewData["Title"] = "Hardcore Leaderboard";
}
@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}
<div class="container mt-3 p-lg-4 p-1">
    <div class="row g-0">
        <div class="col col-12 col-md-5 pe-md-2">
            <label for="realm">Realm</label>
            <div class="input-group">
                <button class="btn btn-outline-secondary active region-btn" id="us-region" type="button" value="us">US</button>
                <button class="btn btn-outline-secondary region-btn" id="eu-region" type="button" value="eu">EU</button>
                <select class="form-select" id="realm" required></select>
            </div>
        </div>
        <div class="col col-12 col-md-5 pe-md-2">
            <div class="form-group">
                <label for="characterName">Character Name</label>
                <input type="text" class="form-control" id="character-name" name="characterName" placeholder="Enter Character Name" required>
            </div>
        </div>
        <div class="col col-12 col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary align-text-bottom" id="add-character">Add Character</button>
        </div>
    </div>
    <div class="accordion mt-3" id="leaderboard"></div>
    <ul class="pagination" id="pagination"></ul>
</div>

<div class="modal" tabindex="-1" id="add-character-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Character</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-bottom h-auto" tabindex="-1" id="add-character-canvas" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasTopLabel">Add Character</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body"></div>
</div>