@{
    ViewData["Title"] = "Home Page";
}

<div class="navbar fixed-top bg-primary"  style="color:white;padding:.5rem">
    <div id="nav-section"></div>
</div>	
<div class="wrapper">	
    <nav id="sidebar">
        <div style="padding-left:.2rem;text-align:right">
            <input type="text" id="member-search" class="form-control" placeholder="Enter name" />
        </div>
        <div id="member-section">
            <div class="text-center mt-4">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </nav>
    <div style="width:100%">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="content-section" id="intro-section"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="content-section" id="info-section"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="content-section" id="jobs-section"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="content-section" id="collectible-section"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="content-section" id="party-selection-section"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="content-section" id="party-info-section"></div>
            </div>
        </div>
    </div>
</div>
<partial name="_Templates" />