@{
    ViewData["Title"] = "Party";
}
@section Scripts {
    <script src="~/js/party.js" asp-append-version="true"></script>
}
<div class="navbar fixed-top bg-primary" style="color:white;padding:.5rem">
    <div id="nav-section"></div>
</div>
<div class="wrapper">
    <nav id="sidebar">
        <div style="padding-left:.2rem;text-align:right">
            <input type="text" id="member-search" class="form-control" placeholder="Enter name" />
        </div>
        <div id="member-section">
            <div class="text-center mt-4">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </nav>
    <div class="party-container">
        <div class="row">
            <div class="col-lg-2 offset-1 party-member">
                Select Member
            </div>
            <div class="col-lg-2 offset-1 party-member">
                Select Member
            </div>
            <div class="col-lg-2 offset-1 party-member">
                Select Member
            </div>
            <div class="col-lg-2 offset-1 party-member">
                Select Member
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="content-section" id="mount-section"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="content-section" id="minion-section"></div>
            </div>
        </div>
    </div>
</div>
<partial name="_Templates" />
<partial name="_PartyTemplates" />
